default_stages: [commit]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
      - id: check-merge-conflict

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        args: [--python-version=3.8]
        additional_dependencies:
          - openfeature-sdk>=0.4.0
          - opentelemetry-api
          - types-protobuf
          - types-PyYAML
          - types-requests
          - mmh3
          - semver
          - panzi-json-logic
        exclude: proto|tests
