# pyproject.toml
[build-system]
requires = ["hatchling", "hatch-build-scripts"]
build-backend = "hatchling.build"

[project]
name = "openfeature-provider-flagd"
version = "0.1.2"
description = "OpenFeature provider for the flagd flag evaluation engine"
readme = "README.md"
authors = [{ name = "OpenFeature", email = "openfeature-core@groups.io" }]
license = { file = "LICENSE" }
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
]
keywords = []
dependencies = [
  "openfeature-sdk>=0.4.0",
  "grpcio>=1.60.0",
  "protobuf>=4.25.2",
]
requires-python = ">=3.8"

[project.urls]
Homepage = "https://github.com/open-feature/python-sdk-contrib"

[tool.hatch]

[tool.hatch.envs.default]
dependencies = [
  "coverage[toml]>=6.5",
  "pytest",
]
post-install-commands = [
  "./scripts/gen_protos.sh"
]

[tool.hatch.envs.default.scripts]
test = "pytest {args:tests}"
test-cov = "coverage run -m pytest {args:tests}"
cov-report = [
  "coverage xml",
]
cov = [
  "test-cov",
  "cov-report",
]

[tool.hatch.build.targets.sdist]
ignore-vcs = true
exclude = [
  ".gitignore",
  "schemas",
]

[[tool.hatch.build.hooks.build-scripts.scripts]]
commands = [
  "./scripts/gen_protos.sh",
]
artifacts = [
  "",
]

[tool.hatch.build.targets.wheel]
packages = ["src/openfeature"]
artifacts = [
  "src/openfeature/contrib/provider/flagd/proto/**/*.py",
]
