name: Run Release Please

on:
  workflow_dispatch:
    inputs:

  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write # for googleapis/release-please-action to create release commit
      pull-requests: write # for googleapis/release-please-action to create release PR
    # Release-please creates a PR that tracks all changes
    steps:
      - uses: googleapis/release-please-action@7987652d64b4581673a76e33ad5e98e3dd56832f # v4
        id: release
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          target-branch: main
      - name: Dump Release Please Output
        env:
          RELEASE_PLEASE_OUTPUT: ${{ toJson(steps.release.outputs) }}
        run: |
          echo "$RELEASE_PLEASE_OUTPUT"
    outputs:
      release_created: ${{ steps.release.outputs.releases_created }}
      all: ${{ toJSON(steps.release.outputs) }}
      paths_released: ${{ steps.release.outputs.paths_released }}

  pypi-release:
    needs: release-please
    runs-on: ubuntu-latest
    if: ${{ fromJSON(needs.release-please.outputs.release_created || false) }}
    strategy:
      matrix:
        path: ${{ fromJSON(needs.release-please.outputs.paths_released || '[]') }}
    environment: release
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing to pypi
      id-token: write
    container:
      image: "python:3.13"

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          submodules: recursive

      - name: Upgrade pip
        run: pip install --upgrade pip

      - name: Install hatch
        run: pip install hatch

      - name: Build a binary wheel and a source tarball
        run: hatch build
        working-directory: ${{ matrix.path }}

      - name: Publish a Python distribution to PyPI
        # pinning till fixed https://github.com/pypa/gh-action-pypi-publish/issues/300
        uses: pypa/gh-action-pypi-publish@release/v1.11
        with:
          packages-dir: ${{ matrix.path }}/dist
